#introSection {
    min-height: 300px;
    background: #264653;
    color: #fff;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* z-index: -100; */
    /* margin-top: -150px; */
  }
  
#introSection h1 {
font-size: 50px;
width: 100%;
text-align: center;
margin-bottom: 30px;
color: #F4A261;
/* z-index: 0; */
}

#introSection p {
text-align: center;
}

#introSection p:last-child {
max-width: 600px;
}

/* #categoryContainer{
    background: red;
} */


.header .h1 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A9D8F;
  }
  
.header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
.header > div > i {
    color: green;
    font-size: 70px;
    animation-name: arrowAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
  }

  @keyframes arrowAnimation {
    0% {
      transform: translateY(0px);
      opacity: 0.1;
    }
    30% {
      transform: translateY(20px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
      opacity: 0.1;
    }
  }
#categoryContainer #categoryHolder {
    padding: 20px 50px 20px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-gap: 20px 10px;
    margin: auto;
    max-width: 1080px;
    justify-content: space-evenly;
  }
  
  #categoryContainer #categoryHolder .category {
    /* min-width: 250px; */
    width: 250px;
    /* max-width: 300px; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 200ms ease-out;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  }
  
  /* #categoryContainer #categoryHolder .category > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
  } */
  
  #categoryContainer #categoryHolder .category > p {
    background: #264653;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  #categoryContainer #categoryHolder .category:hover {
    transform: translateY(-5px) scale(1.01);
  }
  
  #categoryContainer #categoryHolder .category.deactivated {
    display: none;
  }
  
  .btnContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
  }
  
  .btnContainer> #viewMoreBtn {
    height: 50px;
    width: 100%;
    max-width: 760px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2A9D8F;
    color: #0a2421;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    transition: transform 200ms ease-in-out;
  }
  
 .btnContainer> #viewMoreBtn > i {
    color: #fff;
    font-size: 30px;
    margin: 20px;
  }
  
  #categoryContainer .btnContainer #viewMoreBtn:hover {
    transform: translateY(-10px);
  }
  
  #categoryContainer .btnContainer #viewMoreBtn:active {
    background: #144d46;
    color: white;
  }


  #image{
      object-fit: cover;
      object-position: center;
  }
  