#mainContent {
    min-height: 500px;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-column-gap: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }
  
  #mainContent #asideContent {
    background: rgba(0, 0, 0, 0.15);
  }
  
  #mainContent > main {
    height: auto;
  }
  
  #mainContent > main > #consultSection {
    min-height: 250px;
    /* height: 250px; */
    border-radius: 0px 15px 0 0;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #264653;
    /* background: rgba(0, 0, 0, 0.5); */
  }
  
  #mainContent > main > #consultSection > #header {
    margin-bottom: 30px;
  }
  
  #mainContent > main > #consultSection > #header h3 {
    background: #2A9D8F;
    width: fit-content;
    padding: 15px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    animation-name: call-to-action;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes call-to-action {
    0% {
      transform: scale(1);
      opacity: 0.3;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.3;
    }
  }
  
  #mainContent > main > #consultSection > #header > p {
    text-align: center;
  }
  
  #mainContent > main > #consultSection > p {
    text-align: center;
    font-size: 12px;
  }
  
  #mainContent > main #productSection {
    background: rgba(42, 157, 144, 0.411);
    min-height: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 15px 30px;
    justify-content: space-evenly;
  }
  
  #mainContent > main #productSection .product {
    background: #264653;
    width: 150px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    transition: transform 200ms ease-in-out;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  #mainContent > main #productSection .product:hover {
    transform: translateY(-5px) scale(1.01);
  }

  .infor{
      background: #264653;
      padding: 5px;
  }
  .infor>div{
      background: #fff;
      border-radius: 8px;
      padding: 2px;
    }
  .infor>div:not(:last-child){
        margin-bottom: 5px;      
  }
  #nameOfProduct{
      text-align: center;
      font-size: 12px;
      color: royalblue;
  }
  #nameOfTreatment{
      text-align: center;
      border-bottom: 2px solid #264653;
      margin-bottom: 2px;
  }
  #quantityContainer{
      display: flex;
      padding: 2px 5px;
      justify-content: space-between;
  }
  #quantity{
      width: 30px;
      height: 20px;
      display: inline-block;
      background: #F4A261;
  }
  #price{
      color: #F4A261;
      background: rgba(255, 255, 255, 0.15);
  }
  #addToCart{
      background: rgba(42, 157, 144, 0.411);
      padding: 0;
  }
  #addToCart> button{
      width: 100%;
      height: 100%;
      display: block;
      height: 40px;
      font-size: 18px;
      background: #F4A261;
      color: #fff;
      border: none;
  }

  #formCompletedText{
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 250px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  #formCompletedText> h2{
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5); */
  }
  #formCompletedText> p{
    text-align: center;
  }
  #formCompletedText> h2> span {
    color: #2A9D8F;
  }


  @media screen and (max-width:760px) {
    #mainContent {
      grid-template-columns:1fr;
    }
    
    #mainContent #asideContent {
      display: none;
    }
  }
/*   
  #mainContent > main #productSection .product > div.image-area {
    width: 100%;
    height: 150px;
  }
  
  #mainContent > main #productSection .product > div.image-area > img {
    width: 100%;
    height: 100%;
  }
  
  #mainContent > main #productSection .product > div.infor {
    height: fit-content;
    width: 100%;
    text-align: center;
  }
  
  #mainContent > main #productSection .product > div.infor > p.treatment-name {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #282828;
  }
  
  #mainContent > main #productSection .product > div.infor > p.product-name {
    font-size: 14px;
    color: royalblue;
  }
  
  #mainContent > main #productSection .product > div.infor > p.price {
    background-color: #264653;
    color: #F4A261;
    padding: 15px 0px;
  }
   */